@import "tailwindcss";
@plugin "daisyui";

body {
  font-family: 'JetBrains Mono', monospace;
  color: white;
  background-color: #101010;

  /* GRID BACKGROUND */
  background-image:
    linear-gradient(rgba(255,255,255,0.03) 1px, transparent 1px),
    linear-gradient(90deg, rgba(255,255,255,0.03) 1px, transparent 1px);
  background-size: 30px 30px;
  background-position: center;
}